<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903456790093-snd7vm70318lmpjvpga37k9h4sflib7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903456790093-snd7vm70318lmpjvpga37k9h4sflib7k</string>
	<key>API_KEY</key>
	<string>AIzaSyDUIPZCWeU02ZSloLK5tA-N7s9FyvD7IJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>903456790093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>empresa.SuApellidoSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-477c4</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-477c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903456790093:ios:a1af878013a34794536e04</string>
</dict>
</plist>